:root {
    --hfont: 'Anton', sans-serif;
    --pfont: 'Nunito', sans-serif;
    --over8: rgba(21, 0, 53, 0.8);
    --bcol: #ff39dc;
    --bacol1: #0b001b;
    --bacol2: #150035;
    --hcol: #944bff;
    --hovcol: #ff39dc;
}

* {
    padding: 0;
    margin: 0;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.gra-col {
    font-family: var(--hfont);
    font-size: 48px;
    font-weight: 400;
    background: #FDB125;
    background: -webkit-linear-gradient(to bottom, #FDB125 0%, #E07E1E 48%, #FCB100 52%);
    background: -moz-linear-gradient(to bottom, #FDB125 0%, #E07E1E 48%, #FCB100 52%);
    background: linear-gradient(to bottom, #FDB125 0%, #E07E1E 48%, #FCB100 52%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.common-heading {
    font-family: var(--hfont);
    font-size: 48px;
    font-weight: 400;
    background: #FDB125;
    background: -webkit-linear-gradient(to bottom, #FDB125 0%, #E07E1E 48%, #FCB100 52%);
    background: -moz-linear-gradient(to bottom, #FDB125 0%, #E07E1E 48%, #FCB100 52%);
    background: linear-gradient(to bottom, #FDB125 0%, #E07E1E 48%, #FCB100 52%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.common-btn {
    font-family: var(--hfont);
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    transition: all linear .4s;
    text-shadow: 0 5px #5813b8;
    border-radius: 5px;
    box-shadow: 0px 5px #3a0090;
    background: #570DC8;
    background: -webkit-linear-gradient(to right, #570DC8 0%, #9E4EFC 100%);
    background: -moz-linear-gradient(to right, #570DC8 0%, #9E4EFC 100%);
    background: linear-gradient(to right, #570DC8 0%, #9E4EFC 100%);
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.common-btn:hover {
    background: var(--hovcol);
    color: #fff;
    box-shadow: 0px 5px #661355;
    text-shadow: 0 5px #661355;
}

/* ==============
  Common Css Ends
============== */

/* ================
  Navbar Css Starts
================ */

.navbar {
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 99999;
}

.navbar .navbar-brand {
    top: -70px;
    /* left: 0; */
}

.navbar .navbar-brand img {}

.navbar .navbar-nav {}

.navbar .navbar-nav .nav-item {
    margin-right: 35px;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-family: var(--pfont);
    font-size: 20px;
    font-weight: 600;
    color: var(--hcol);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--hovcol);
}

.navbar .signup,
.navbar .login {
    padding: 0 30px;
    line-height: 50px;
}

.navbar .signup:hover,
.navbar .login:hover {
    background: var(--hovcol);
    color: #fff;
    box-shadow: 0px 5px #661355;
}

/* ================
  Navbar Css Ends
================ */



/* ================
  Banner Css Starts
================ */

#banner {
    background: var(--bacol2);
    padding-top: 260px;
    padding-bottom: 250px;
}

#banner .banner-bg {}

#banner .banner-bg img {}

#banner .banner-item {}

#banner .banner-text {}

#banner .banner-text h4 {
    font-family: var(--pfont);
    font-size: 20px;
    font-weight: 400;
    margin-top: 70px;
    padding-left: 38px;
}

#banner .banner-text h1 {
    font-family: var(--hfont);
    font-size: 331px;
    font-weight: 400;
    color: #fb36d8;
    margin-top: -45px;
    background: #FDB125;
    background: -webkit-linear-gradient(to bottom, #FDB125 0%, #E07E1E 48%, #FCB100 52%);
    background: -moz-linear-gradient(to bottom, #FDB125 0%, #E07E1E 48%, #FCB100 52%);
    background: linear-gradient(to bottom, #FDB125 0%, #E07E1E 48%, #FCB100 52%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#banner .banner-text p {
    font-family: var(--pfont);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: -25px;
    padding: 0 27px;
}

#banner .banner-text .play-now {
    margin-top: 35px;
}

#banner .banner-text a {
    font-family: var(--hfont);
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding: 5px 25px;
    transition: all linear .4s;
    border-radius: 5px;
    box-shadow: 0px 5px #3a0090;
    background: #570DC8;
    background: -webkit-linear-gradient(to right, #570DC8 0%, #9E4EFC 100%);
    background: -moz-linear-gradient(to right, #570DC8 0%, #9E4EFC 100%);
    background: linear-gradient(to right, #570DC8 0%, #9E4EFC 100%);
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#banner .banner-text a:hover {
    background: var(--hovcol);
    box-shadow: 0px 5px #661355;
}


/* ================
  Banner Css Ends
================ */


/* ===================
  Game list Css Starts
================== */

#game-list {
    padding-top: 155px;
    padding-bottom: 100px;
    background: var(--bacol1);
    position: relative;
}

#game-list .step {
    top: -260px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#game-list .step .step-item {
    /* width: 33.33%; */
    background: #570DC8;
    background: -webkit-linear-gradient(to right, #570DC8 0%, #9E4EFC 100%);
    background: -moz-linear-gradient(to right, #570DC8 0%, #9E4EFC 100%);
    background: linear-gradient(to right, #570DC8 0%, #9E4EFC 100%);
    padding: 30px;
}

#game-list .step .step-item h4 {}

#game-list .step .step-item h3 {
    font-family: var(--hfont);
    font-size: 32px;
    font-weight: 400;
    text-shadow: 0 5px #5813b8;
    padding-bottom: 10px;
    padding-top: 15px;
}

#game-list .step .step-item p {
    font-family: var(--pfont);
    font-size: 16px;
    font-weight: 400;
}

#game-list .game-item {
    margin-top: 50px;
}

#game-list .game-item img {}

#game-list .game-item .overlay {
    background: var(--over8);
    top: -100%;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#game-list .game-item:hover .overlay {
    top: 0;
}

#game-list .game-item .overlay h4 {
    margin-top: 150px;
    margin-bottom: 60px !important;
    font-family: var(--hfont);
    font-size: 24px;
    font-weight: 400;
}

#game-list .game-item .overlay a {
    padding: 12px 37px;
}


/* ==================
  Game list Css Ends
================ */


/* ==================
  Spin Css Starts
================ */


#spin {

    padding-top: 100px !important;
    padding-bottom: 100px !important;
    background: var(--bacol2);
}

#spin .spin-image {}

#spin .spin-image img {}

#spin .spin-text {}

#spin .spin-text h4 {
    margin-top: 70px;
    margin-bottom: 50px !important;
}

#spin .spin-text p {
    font-family: var(--pfont);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px !important;
}

#spin .spin-text a {
    padding: 10px 38px;
    margin-top: 40px;
    display: inline-block;
}

/* ==================
  Spin Css Ends
================ */

/* =======================
  Pricing Plan Css Starts
===================== */

#pricing {
    padding-top: 100px !important;
    padding-bottom: 110px !important;
    background: var(--bacol1);
}

#pricing .price-item {
    padding: 60px 0;
    background: #570DC8;
    background: -webkit-linear-gradient(to top, #570DC8 0%, #9e4efc 100%);
    background: -moz-linear-gradient(to top, #570DC8 0%, #9e4efc 100%);
    background: linear-gradient(to top, #570DC8 0%, #9e4efc 100%);
    margin-top: 75px;
    border-radius: 5px;
    transition: all linear .4s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#pricing .price-item:hover {
    transform: translateY(25px);
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -o-transform: translateY(25px);
}

#pricing .price-item .featured {
    box-shadow: 0 5px #661355;
    top: -50px;
    /*display: none;
    */
    left: 0;
    color: #fff;
    background: var(--hovcol);
    transition: all linear .4s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    opacity: 0;
    visibility: hidden;
}

#pricing .price-item:hover .featured {
    opacity: 1;
    visibility: visible;
}

#pricing .price-item .featured h4 {
    font-family: var(--pfont);
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
    text-shadow: 0 3px #5813b8;
}

#pricing .price-item .pricing-header {}

#pricing .price-item .pricing-header h4 {
    font-family: var(--hfont);
    font-weight: 400;
    font-size: 32px;
    text-shadow: 0 5px #5813b8;
}


#pricing .price-item .monthly-price {
    padding: 25px 0;
    position: relative;
}

#pricing .price-item .monthly-price::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #6428b5;
    position: absolute;
    left: 0;
    bottom: 12px;
}

#pricing .price-item .monthly-price h4 {
    font-family: var(--pfont);
    font-weight: 700;
    font-size: 50px;
}

#pricing .price-item .monthly-price small {
    font-family: var(--pfont);
    font-weight: 400;
    font-size: 14px;
}

#pricing .price-item .feature-list {}

#pricing .price-item .feature-list ul {}

#pricing .price-item .feature-list ul li {
    font-family: var(--pfont);
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
}

#pricing .price-item .feature-list ul li:last-child {
    margin-bottom: 0;
}

#pricing .price-item .pricing-footer {
    bottom: -15px;
    left: 0;
}

#pricing .price-item .pricing-footer a {
    padding: 10px 30px !important;
}

#pricing .price-item:hover .pricing-footer a {
    background: var(--hovcol);
    box-shadow: 0px 5px #661355;
}

/* =====================
  Pricing Plan Css Ends
==================== */






a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

#accordion .panel {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 15px 50px;
}

#accordion .panel-heading {
    padding: 0;
    background: #fff;
    border: none;
    position: relative;
}

#accordion .panel-title a {
    display: block;
    padding: 10px 20px 10px 60px;
    background: #fe5f55;
    border-radius: 30px;
    border: 2px solid #fe5f55;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    position: relative;
}

#accordion .panel-title a.collapsed {
    border: 2px solid #bbb;
    background: #fff;
    color: #bbb;
}

#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before {
    content: "\f068";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background: #fe5f55;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border-right: 3px solid #fff;
    position: absolute;
    top: -10px;
    left: -30px;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

#accordion .panel-title a.collapsed:before {
    content: "\f067";
    background: #bbb;
    border: none;
}

#accordion .panel-body {
    padding: 15px 20px 0;
    margin: 0 0 0 30px;
    border: none;
    font-size: 14px;
    color: #333;
    line-height: 28px;
    position: relative;
}

#accordion .panel-body:before {
    content: "";
    display: block;
    width: 5px;
    height: 90%;
    background: #fe5f55;
    position: absolute;
    top: 0;
    left: -30px;
}

#accordion .panel-body:after {
    content: "";
    border-top: 20px solid #fe5f55;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    bottom: 0;
    left: -48px;
}