:root {
    --hfont: 'Anton', sans-serif;
    --pfont: 'Nunito', sans-serif;
    --over8: rgba(21, 0, 53, 0.8);
    --bcol: #ff39dc;
    --bacol1: #0b001b;
    --bacol2: #150035;
    --hcol: #944bff;
    --hovcol: #ff39dc;
}

* {
    padding: 0;
    margin: 0;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.gra-col {
    font-family: var(--hfont);
    font-size: 48px;
    font-weight: 400;
    background: #FDB125;
    background: -webkit-linear-gradient(to bottom, #FDB125 0%, #E07E1E 48%, #FCB100 52%);
    background: -moz-linear-gradient(to bottom, #FDB125 0%, #E07E1E 48%, #FCB100 52%);
    background: linear-gradient(to bottom, #FDB125 0%, #E07E1E 48%, #FCB100 52%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.common-heading {
    font-family: var(--hfont);
    font-size: 48px;
    font-weight: 400;
    background: #FDB125;
    background: -webkit-linear-gradient(to bottom, #FDB125 0%, #E07E1E 48%, #FCB100 52%);
    background: -moz-linear-gradient(to bottom, #FDB125 0%, #E07E1E 48%, #FCB100 52%);
    background: linear-gradient(to bottom, #FDB125 0%, #E07E1E 48%, #FCB100 52%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.common-btn {
    font-family: var(--hfont);
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    transition: all linear .4s;
    text-shadow: 0 5px #5813b8;
    border-radius: 5px;
    box-shadow: 0px 5px #3a0090;
    background: #570DC8;
    background: -webkit-linear-gradient(to right, #570DC8 0%, #9E4EFC 100%);
    background: -moz-linear-gradient(to right, #570DC8 0%, #9E4EFC 100%);
    background: linear-gradient(to right, #570DC8 0%, #9E4EFC 100%);
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.common-btn:hover {
    background: var(--hovcol);
    color: #fff;
    box-shadow: 0px 5px #661355;
    text-shadow: 0 5px #661355;
}

/* ==============
  Common Css Ends
============== */

/* ================
  Navbar Css Starts
================ */

.navbar {
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 99999;
}

.navbar .navbar-brand {
    top: -70px;
    /* left: 0; */
}

.navbar .navbar-brand img {}

.navbar .navbar-nav {}

.navbar .navbar-nav .nav-item {
    margin-right: 35px;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-family: var(--pfont);
    font-size: 20px;
    font-weight: 600;
    color: var(--hcol);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--hovcol);
}

.navbar .signup,
.navbar .login {
    padding: 0 30px;
    line-height: 50px;
}

.navbar .signup:hover,
.navbar .login:hover {
    background: var(--hovcol);
    color: #fff;
    box-shadow: 0px 5px #661355;
}

/* ================
  Navbar Css Ends
================ */



/* ================
  Banner Css Starts
================ */

#banner {
    background: var(--bacol2);
    padding-top: 260px;
    padding-bottom: 250px;
}

#banner .banner-bg {}

#banner .banner-bg img {}

#banner .banner-item {}

#banner .banner-text {}

#banner .banner-text h4 {
    font-family: var(--pfont);
    font-size: 20px;
    font-weight: 400;
    margin-top: 70px;
    padding-left: 38px;
}

#banner .banner-text h1 {
    font-family: var(--hfont);
    font-size: 331px;
    font-weight: 400;
    color: #fb36d8;
    margin-top: -45px;
    background: #FDB125;
    background: -webkit-linear-gradient(to bottom, #FDB125 0%, #E07E1E 48%, #FCB100 52%);
    background: -moz-linear-gradient(to bottom, #FDB125 0%, #E07E1E 48%, #FCB100 52%);
    background: linear-gradient(to bottom, #FDB125 0%, #E07E1E 48%, #FCB100 52%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#banner .banner-text p {
    font-family: var(--pfont);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: -25px;
    padding: 0 27px;
}

#banner .banner-text .play-now {
    margin-top: 35px;
}

#banner .banner-text a {
    font-family: var(--hfont);
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding: 5px 25px;
    transition: all linear .4s;
    border-radius: 5px;
    box-shadow: 0px 5px #3a0090;
    background: #570DC8;
    background: -webkit-linear-gradient(to right, #570DC8 0%, #9E4EFC 100%);
    background: -moz-linear-gradient(to right, #570DC8 0%, #9E4EFC 100%);
    background: linear-gradient(to right, #570DC8 0%, #9E4EFC 100%);
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#banner .banner-text a:hover {
    background: var(--hovcol);
    box-shadow: 0px 5px #661355;
}


/* ================
  Banner Css Ends
================ */


/* ===================
  Game list Css Starts
================== */

#game-list {
    padding-top: 155px;
    padding-bottom: 100px;
    background: var(--bacol1);
    position: relative;
}

#game-list .step {
    top: -260px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#game-list .step .step-item {
    /* width: 33.33%; */
    background: #570DC8;
    background: -webkit-linear-gradient(to right, #570DC8 0%, #9E4EFC 100%);
    background: -moz-linear-gradient(to right, #570DC8 0%, #9E4EFC 100%);
    background: linear-gradient(to right, #570DC8 0%, #9E4EFC 100%);
    padding: 30px;
}

#game-list .step .step-item h4 {}

#game-list .step .step-item h3 {
    font-family: var(--hfont);
    font-size: 32px;
    font-weight: 400;
    text-shadow: 0 5px #5813b8;
    padding-bottom: 10px;
    padding-top: 15px;
}

#game-list .step .step-item p {
    font-family: var(--pfont);
    font-size: 16px;
    font-weight: 400;
}

#game-list .game-item {
    margin-top: 50px;
}

#game-list .game-item img {}

#game-list .game-item .overlay {
    background: var(--over8);
    top: -100%;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#game-list .game-item:hover .overlay {
    top: 0;
}

#game-list .game-item .overlay h4 {
    margin-top: 150px;
    margin-bottom: 60px !important;
    font-family: var(--hfont);
    font-size: 24px;
    font-weight: 400;
}

#game-list .game-item .overlay a {
    padding: 12px 37px;
}


/* ==================
  Game list Css Ends
================ */


/* ==================
  Spin Css Starts
================ */


#spin {

    padding-top: 100px !important;
    padding-bottom: 50px !important;
    background: var(--bacol2);
}

#spin .spin-image {}

#spin .spin-image img {}

#spin .spin-text {}

#spin .spin-text h4 {
    margin-top: 70px;
}

#spin .spin-text p {
    font-family: var(--pfont);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px !important;
}

#spin .spin-text a {
    padding: 10px 38px;
    margin-top: 40px;
    display: inline-block;
}

/* ==================
  Spin Css Ends
================ */